[submodule "test/testbed/thirdparty/imgui"]
	path = test/testbed/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "thirdparty/glTF-Sample-Models"]
	path = thirdparty/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "tools/shader_parser/thirdparty/DirectXShaderCompiler"]
	path = thirdparty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
