[submodule "thirdparty/tinygltf"]
	path = lotus/renderer/thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "lotus/gpu/thirdparty/SPIRV-Reflect"]
	path = lotus/gpu/thirdparty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "lotus/gpu/thirdparty/DirectX-Headers"]
	path = lotus/gpu/thirdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "test/thirdparty/imgui"]
	path = test/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lotus/gpu/thirdparty/metal-cpp"]
	path = lotus/gpu/thirdparty/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
