[submodule "test/testbed/thirdparty/imgui"]
	path = test/testbed/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "thirdparty/glTF-Sample-Models"]
	path = thirdparty/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "thirdparty/DirectXShaderCompiler"]
	path = thirdparty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "thirdparty/DirectX-Headers"]
	path = lotus/graphics/thirdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "tools/shadertoy/thirdparty/stb"]
	path = tools/shadertoy/thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "lotus/graphics/thirdparty/SPIRV-Reflect"]
	path = lotus/graphics/thirdparty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
